# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
*.env

# Instaloader session
session.txt
sent_posts.json
sent_stories.json

# Pyright config
pyrightconfig.json
